@charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.container {
  height: 100%;
}

header {
  height: 25%;
  background-color: black;
  position: relative;
}

.output {
  position: absolute;
  top: 40%;
  right: 5%;
  color: white;
  font-size: 96px;
}

.buttons {
  height: 75%;
}

.row {
  height: 20%;
  display: flex;
}

.row .cell {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.row .cell:first-child {
  border-left: none;
}

.column {
  flex-grow: 1;
}

.column2 {
  flex-grow: 2;
}

.cell {
  position: relative;
  height: 100%;
  cursor: pointer;
  font-size: 48px;
}

.cell.touched {
  background-color: lightgray;
}

.cell.bg-orange.touched {
  background-color: darkorange;
}

.cell .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-orange {
  background-color: orange;
  color: white;
}

.bg-gray {
  background-color: darkgray;
}

